environment               = "prod"
app_base_url              = "https://replace-with-prod-workshop-app-hostname"
os_base_url               = "https://replace-with-prod-os-hostname"
billing_base_url          = "https://replace-with-prod-billing-hostname"
execution_base_url        = "https://replace-with-prod-execution-hostname"
db_host                   = "replace-with-prod-db-host"
db_port                   = 5432
db_name                   = "workshop"
db_secret_arn             = "arn:aws:secretsmanager:us-east-1:000000000000:secret:workshop-db-prod-credentials"
jwt_secret_arn            = "arn:aws:secretsmanager:us-east-1:000000000000:secret:workshop-edge-prod-jwt"
private_subnet_ids        = ["subnet-00000000000000000", "subnet-11111111111111111"]
lambda_security_group_ids = ["sg-00000000000000000"]
